<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Lonely Planet</title>
    <link href="static/all.css" media="screen" rel="stylesheet" type="text/css">
  </head>

  <body>
    <div id="container">
      <div id="header">
        <div id="logo"></div>
        <h1>Lonely Planet: <%= @destination.title %></h1>
      </div>

      <div id="wrapper">
        <div id="sidebar">
          <div class="block">
            <h3>Navigation</h3>
            <div class="content">
              <div class="inner">
              <%= generate_primary_navigation_html(@destination.get_ancestors.first,@destination) %>
              </div>
            </div>
          </div>
        </div>

        <div id="main">
          <div class="block">
            <div class="secondary-navigation">
              <%= generate_secondary_navigation_html(@destination) %>
              <div class="clear"></div>
            </div>
            <div class="content">
              <div class="inner">
                <% Destination::SECTIONS.each do |k,v| %>
                  <% unless @destination.info[k].empty? %>
                    <h3><%= v %></h3>
                    <% @destination.info[k].each do |h| %>
                      <p><%= h %></p>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
